:root {
  --primary_color:rgb(243, 80, 12) ;
}





.nav_main{

width: 100%;
padding: 0;
margin: 0;
z-index: 1;

position: fixed;
height: 7vh !important;
transition: 0.5s ease-in-out;

}

.nav_main_colorChange{

   width: 100%;
padding: 0;
margin: 0;
z-index: 1;
height: 7vh !important;
position: fixed;
transition: 0.5s;
   background-color: rgb(255,249,249) !important; 
-webkit-box-shadow: 0px -7px 29px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -7px 29px 3px rgba(0,0,0,0.75);
box-shadow: 0px -7px 29px 3px rgba(0,0,0,0.75);
}
.nav_height{

   height: 7vh;
}

@media (max-width: 1000px){
.nav_main{


   height: 10vh !important;
}

.nav_main_colorChange{


   height: 9vh !important;
}
.navbar_root{

   background-color: rgb(255,249,249);
   padding: 2%;
   z-index: 997 !important;
   margin-top: -2%;
}
.hamb_menu {

   background-color: rgb(255,249,249);
   padding: 2%;
   z-index: 997 !important;

}



}

@media (min-width: 1000px){
.nav_submain{

width: 88%;
}}


@media (min-width: 250px) and (max-width:1000px){
.nav_submain{

width: 100%;
}}



.btn-primary {

    border-radius: 12px !important;

}

.btn-primary {
  background-color: var(--primary_color) !important;
  border-color: rgb(243, 80, 12) !important;
}
.btn-primary:hover{



   background-color:rgb(243, 54, 1) !important ;
}

.nav-link{


   color: rgb(12,12,31) !important;
}

@media (min-width: 300px) and (max-width: 514px) {

.raw{

   margin-top: 30vw !important;
}

.Nav_Logo{
   width: 680% !important;
}

}
@media (min-width: 515px) and (max-width: 991px) {

.Nav_Logo{
   width: 550% !important;
}
}


/* @media (min-width: 437px) and (max-width: 991px) {
.Nav_Logo{
   width: 800% !important;
}

} */

@media (min-width: 385px) and (max-width: 991px) {

.raw{

   margin-top: 25vw !important;
}

}

@media (min-width: 455px) and (max-width: 991px) {

.raw{

   margin-top: 20vw !important;
}

}

@media (min-width: 600px) and (max-width: 991px) {

.raw{

   margin-top: 15vw !important;
}

}

@media (min-width: 750px) and (max-width: 991px) {

.raw{

   margin-top: 12vw !important;
}

}

.navbar-toggler {

outline: none !important;
border: none !important;
box-shadow: none !important;

}
@media (min-width: 750px) and (max-width: 1000px) {

.Nav_Logo{

   width: 400% !important;
}

}


.Image_a{
   position: relative;

   width: 3% !important;
}
.Nav_Logo{

   width: 220%;
}

