

.Jop_Main{


    height: 95vh;
}



.Jop_Card{

    background-color: transparent !important;
    
}

.Job_Card_Body_2{

    margin-top: -15%;
    z-index: -1;
border-radius: 20px !important;

    height: 30vh !important;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.Card_2_Title{

    font-weight: 650 !important;
}
.Card_Star{

    color: rgb(255,188,11) !important;
   
}

@media (min-width:250px) and (max-width:850px){



    .Jop_Main{


    height: 140vh;
}

}
@media (min-width:250px) and (max-width:400px){



    .Jop_Main{


    height: 150vh;
}

}