
   .Content_Over_Main{

    height: 85vh;
   }

.Content_Main{

    background-color:transparent !important;
}

.Apply_Btn{

    background-color: rgb(253, 52, 7) !important;

    border-radius: 10px !important;
}


@media (max-width:1000px){
.Content_Main{

width: 18rem !important;

}


}

@media (min-width:250px) and  (max-width:450px){

 .Content_Over_Main{

    height: 100vh !important;
   }

}
@media (min-width:450px) and  (max-width:750px){

 .Content_Over_Main{

    height: 120vh !important;
   }

}